# Google Cloud Vision API key
# Get one at: https://console.cloud.google.com/apis/credentials
# Enable: Cloud Vision API (https://console.cloud.google.com/apis/library/vision.googleapis.com)
VITE_GOOGLE_VISION_API_KEY=your_api_key_here
